In [1]:
import pandas as pd
import numpy as np

In [2]:
data17 = []
for i in range(0,36):
    if i < 10:
        data17.append(pd.read_excel("C-17/DDW-C17-0{}00.XLSX".format(i), skiprows = [0,1,2,4,5]))
    else:
        data17.append(pd.read_excel("C-17/DDW-C17-{}00.XLSX".format(i), skiprows = [0,1,2,4,5]))

In [5]:
data17[0].head()

,Code,Unnamed: 1,Code.1,Name,Persons,Males,Females,Code.2,1 st subsidiary languages,Persons.1,Males.1,Females.1,Code.3,2nd subsidiary languages,Persons.2,Males.2,Females.2,Unnamed: 17,Unnamed: 18
0,0,INDIA,1000.0,ASSAMESE,15311351.0,7810583.0,7500768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,INDIA,NaN,NaN,NaN,NaN,NaN,2000.0,BENGALI,2025303.0,1042862.0,982441.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,BODO,883.0,521.0,362.0,NaN,NaN
3,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,GUJARATI,11.0,9.0,2.0,NaN,NaN
4,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,HINDI,245880.0,153937.0,91943.0,NaN,NaN

In [6]:
def calc_speakers(data):
    data = data[['Name', "Persons", "Persons.1", "Persons.2"]]
    data = data.dropna(how='all')
    data.fillna(value = 0, inplace = True)
    sum1 = data['Persons'].values.sum()
    sum2 = data['Persons.1'].values.sum()
    si = (sum1-sum2)/sum1*100
    sum3 = data['Persons.2'].values.sum()
    do = (sum2-sum3)/sum1*100
    thi = sum3/sum1*100
    return si, do ,thi

In [8]:
final_d = {}
final_d['State'] = []
final_d['state-code'] = []
final_d['percent-one'] = []
final_d['percent-two'] = []
final_d['percent-three'] = []
for data in data17:
    a, b, c = calc_speakers(data)
    final_d['State'].append(data["Unnamed: 1"].unique()[0])
    final_d['state-code'].append(data["Code"].unique()[0])
    final_d['percent-one'].append(a)
    final_d['percent-two'].append(b)
    final_d['percent-three'].append(c)

In [9]:
final_data = pd.DataFrame(final_d)

In [10]:
final_data.head(40)

,State,state-code,percent-one,percent-two,percent-three
0,INDIA,0.0,73.986251,18.910538,7.103211
1,JAMMU & KASHMIR,1.0,50.697384,32.588084,16.714533
2,HIMACHAL PRADESH,2.0,81.896911,13.044005,5.059084
3,PUNJAB,3.0,53.014940,18.762382,28.222678
4,CHANDIGARH,4.0,45.054716,24.438960,30.506324
5,UTTARAKHAND,5.0,82.572823,15.565026,1.862151
6,HARYANA,6.0,77.802617,17.580012,4.617371
7,NCT OF DELHI,7.0,59.392197,32.517275,8.090528
8,RAJASTHAN,8.0,89.097948,9.433381,1.468671
9,UTTAR PRADESH,9.0,88.552454,10.153499,1.294046
10,BIHAR,10.0,83.898297,14.485391,1.616312
11,SIKKIM,11.0,36.289936,34.000134,29.709930
12,ARUNACHAL PRADESH,12.0,35.974004,33.777906,30.248091
13,NAGALAND,13.0,37.845754,34.988188,27.166058
14,MANIPUR,14.0,51.375344,27.025829,21.598827
15,MIZORAM,15.0,71.773486,23.399161,4.827352
16,TRIPURA,16.0,65.470069,29.124882,5.405049
17,MEGHALAYA,17.0,72.283426,18.449932,9.266643
18,ASSAM,18.0,53.660234,32.391948,13.947818
19,WEST BENGAL,19.0,83.538029,13.305609,3.156362
20,JHARKHAND,20.0,69.683887,25.486986,4.829127
21,ODISHA,21.0,67.063058,19.773438,13.163504
22,CHHATTISGARH,22.0,86.752019,11.593780,1.654201
23,MADHYA PRADESH,23.0,86.494406,11.773516,1.732078
24,GUJARAT,24.0,57.160038,28.659593,14.180368
25,DAMAN & DIU,25.0,52.053263,33.721690,14.225047
26,DADRA & NAGAR HAVELI,26.0,42.107131,37.085732,20.807136
27,MAHARASHTRA,27.0,48.903046,33.544254,17.552700
28,ANDHRA PRADESH,28.0,74.481987,18.017047,7.500967
29,KARNATAKA,29.0,60.303665,26.876807,12.819528
30,GOA,30.0,22.789355,26.389518,50.821127
31,LAKSHADWEEP,31.0,71.223613,13.295488,15.480899
32,KERALA,32.0,75.563156,14.891232,9.545612
33,TAMIL NADU,33.0,71.701857,24.906232,3.391911
34,PUDUCHERRY,34.0,68.565162,25.692234,5.742604
35,ANDAMAN & NICOBAR ISLANDS,1000.0,32.359997,48.535529,19.104474

In [15]:
final_data.to_csv("percent-india.csv")
print("percent-india.csv is created")