# Q3

In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [2]:
census_raw = pd.read_excel("DDW_PCA0000_2011_Indiastatedist.xlsx")

In [3]:
data18 = pd.read_excel("DDW-C18-0000.XLSX", skiprows = [0,1,2,4,5])

In [4]:
data18.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Urban,Unnamed: 4,Persons,Males,Females,Persons.1,Males.1,Females.1
0,0,0,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
1,0,0,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
2,0,0,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
3,0,0,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
4,0,0,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720

In [5]:
data18_urban = data18[(data18['Urban'] == "Urban") & (data18['Unnamed: 4'] == "Total")]
data18_rural = data18[(data18['Urban'] == "Rural") & (data18['Unnamed: 4'] == "Total")]

In [6]:
data18_urban.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Urban,Unnamed: 4,Persons,Males,Females,Persons.1,Males.1,Females.1
20,0,0,INDIA,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
50,1,0,JAMMU & KASHMIR,Urban,Total,2015952,1164456,851496,837496,480052,357444
80,2,0,HIMACHAL PRADESH,Urban,Total,261187,145165,116022,66469,37439,29030
110,3,0,PUNJAB,Urban,Total,5952044,3285923,2666121,3599043,1979374,1619669
140,4,0,CHANDIGARH,Urban,Total,568197,315829,252368,317626,175910,141716

In [7]:
census = census_raw.iloc[:,6:13]

In [8]:
census.head()

   Level             Name    TRU      No_HH       TOT_P      TOT_M      TOT_F
0  India            India  Total  249501663  1210854977  623270258  587584719
1  India            India  Rural  168612897   833748852  427781058  405967794
2  India            India  Urban   80888766   377106125  195489200  181616925
3  STATE  JAMMU & KASHMIR  Total    2119718    12541302    6640662    5900640
4  STATE  JAMMU & KASHMIR  Rural    1553433     9108060    4774477    4333583

In [9]:
census_urban = census[((census["Level"] ==  "STATE") | (census["Level"] == "India")) & (census['TRU'] == "Urban")]
census_urban['Name'] = census_urban['Name'].apply(lambda x: str(x).upper())

<ipython-input-9-10a09582cd67>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_urban['Name'] = census_urban['Name'].apply(lambda x: str(x).upper())

In [10]:
census_urban.head()

     Level              Name    TRU     No_HH      TOT_P      TOT_M      TOT_F
2    India             INDIA  Urban  80888766  377106125  195489200  181616925
5    STATE   JAMMU & KASHMIR  Urban    566285    3433242    1866185    1567057
74   STATE  HIMACHAL PRADESH  Urban    170770     688552     371528     317024
113  STATE            PUNJAB  Urban   2154958   10399146    5545989    4853157
176  STATE        CHANDIGARH  Urban    234033    1026459     563513     462946

In [11]:
urban_merge = pd.merge(data18_urban, census_urban, how = 'inner', right_on = 'Name', left_on = 'Unnamed: 2')

In [12]:
urban_merge.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Urban,Unnamed: 4,Persons,Males,Females,Persons.1,Males.1,Females.1,Level,Name,TRU,No_HH,TOT_P,TOT_M,TOT_F
0,0,0,INDIA,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821,India,INDIA,Urban,80888766,377106125,195489200,181616925
1,1,0,JAMMU & KASHMIR,Urban,Total,2015952,1164456,851496,837496,480052,357444,STATE,JAMMU & KASHMIR,Urban,566285,3433242,1866185,1567057
2,2,0,HIMACHAL PRADESH,Urban,Total,261187,145165,116022,66469,37439,29030,STATE,HIMACHAL PRADESH,Urban,170770,688552,371528,317024
3,3,0,PUNJAB,Urban,Total,5952044,3285923,2666121,3599043,1979374,1619669,STATE,PUNJAB,Urban,2154958,10399146,5545989,4853157
4,4,0,CHANDIGARH,Urban,Total,568197,315829,252368,317626,175910,141716,STATE,CHANDIGARH,Urban,234033,1026459,563513,462946

In [13]:
urban_finalt = urban_merge[['Unnamed: 2','Persons','Persons.1', 'TOT_P']]
urban_finalt.rename(columns = {'Unnamed: 2':"states"}, inplace = True)

C:\Users\shash\anaconda3\envs\obj_dec\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
urban_finalt.head()

             states    Persons  Persons.1      TOT_P
0             INDIA  152347285   50625591  377106125
1   JAMMU & KASHMIR    2015952     837496    3433242
2  HIMACHAL PRADESH     261187      66469     688552
3            PUNJAB    5952044    3599043   10399146
4        CHANDIGARH     568197     317626    1026459

In [15]:
# urban_final = urban_merge[['Unnamed: 2','TOT_M', "TOT_F",'Males.1',"Females.1"]]
# urban_final.rename(columns = {'Unnamed: 2':"State"}, inplace = True)

In [16]:
####### Rural ############

In [17]:
census_rural = census[((census["Level"] ==  "STATE") | (census["Level"] == "India")) & (census['TRU'] == "Rural")]
census_rural['Name'] = census_rural['Name'].apply(lambda x: str(x).upper())

<ipython-input-17-39ab4c2239cc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_rural['Name'] = census_rural['Name'].apply(lambda x: str(x).upper())

In [18]:
rural_merge = pd.merge(data18_rural, census_rural, how = 'inner', right_on = 'Name', left_on = 'Unnamed: 2')

In [19]:
rural_finalt = rural_merge[['Unnamed: 2','Persons','Persons.1', 'TOT_P']]
rural_finalt.rename(columns = {'Unnamed: 2':"states"}, inplace = True)

C:\Users\shash\anaconda3\envs\obj_dec\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [20]:
# rural_final = rural_merge[['Unnamed: 2','TOT_M', "TOT_F",'Males.1',"Females.1"]]
# rural_final.rename(columns = {'Unnamed: 2':"State"}, inplace = True)

In [21]:
rural_finalt.head()

             states    Persons  Persons.1      TOT_P
0             INDIA  162641485   35383989  833748852
1   JAMMU & KASHMIR    4167238    1258724    9108060
2  HIMACHAL PRADESH     981518     280817    6176050
3            PUNJAB    7083180    4230870   17344192
4        CHANDIGARH      11723       4353      28991

In [22]:
#urban_finalt['urban_perc'] = urban_finalt['Persons.1']/urban_finalt['TOT_P']
#urban_final['urban_perc_female'] =urban_final['Females.1']/urban_final['TOT_P']
#rural_finalt['rural_perc'] =rural_finalt['Persons.1']/rural_finalt['TOT_P']
#rural_final['rural_perc_female'] =rural_final['Females.1']/rural_final['TOT_F']

In [23]:
urban_finalt.head()

             states    Persons  Persons.1      TOT_P
0             INDIA  152347285   50625591  377106125
1   JAMMU & KASHMIR    2015952     837496    3433242
2  HIMACHAL PRADESH     261187      66469     688552
3            PUNJAB    5952044    3599043   10399146
4        CHANDIGARH     568197     317626    1026459

In [24]:
rural_finalt.head()

             states    Persons  Persons.1      TOT_P
0             INDIA  162641485   35383989  833748852
1   JAMMU & KASHMIR    4167238    1258724    9108060
2  HIMACHAL PRADESH     981518     280817    6176050
3            PUNJAB    7083180    4230870   17344192
4        CHANDIGARH      11723       4353      28991

In [25]:
final_si = urban_finalt.copy()
final_si['urban-percentage'] = 100*(urban_finalt['Persons.1']/urban_finalt['TOT_P'])
final_si['rural-percentage'] = 100*(rural_finalt['Persons.1']/rural_finalt['TOT_P'])

In [26]:
tmp = []
for i in range(final_si.shape[0]):
    succ = np.array([urban_finalt.iloc[i,2],rural_finalt.iloc[i,2]])
    tot_sample = np.array([urban_finalt.iloc[i,3],rural_finalt.iloc[i,3]])
    stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
    tmp.append(p_value)
final_si['p-value'] = np.array(tmp)

In [27]:
#final_si[['states', 'urban-percentage', 'rural-percentage', 'p-value']]

In [28]:
final_si[['states', 'urban-percentage', 'rural-percentage', 'p-value']].to_csv("geography-india-3.csv")

In [29]:
#bilingual

In [30]:
final_bi = urban_finalt.copy()
final_bi['urban-percentage'] = 100*((urban_finalt['Persons'] - urban_finalt['Persons.1'])/urban_finalt['TOT_P'])
final_bi['rural-percentage'] = 100*((rural_finalt['Persons'] - rural_finalt['Persons.1'])/rural_finalt['TOT_P'])

In [31]:
tmp = []
for i in range(final_si.shape[0]):
    succ = np.array([urban_finalt.iloc[i,1] - urban_finalt.iloc[i,2],rural_finalt.iloc[i,1] - rural_finalt.iloc[i,2]])
    tot_sample = np.array([urban_finalt.iloc[i,3],rural_finalt.iloc[i,3]])
    stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
    tmp.append(p_value)
final_bi['p-value'] = np.array(tmp)

In [32]:
final_bi[['states', 'urban-percentage', 'rural-percentage', 'p-value']].to_csv("geography-india-2.csv")

In [33]:
#final_bi[['states', 'urban-percentage', 'rural-percentage', 'p-value']]

In [34]:
#lingual

In [35]:
final_tri = urban_finalt.copy()
final_tri['urban-percentage'] = 100*(1 - ((urban_finalt['Persons'] + urban_finalt['Persons.1'])/urban_finalt['TOT_P']))
final_tri['rural-percentage'] = 100*(1 - ((rural_finalt['Persons'] + rural_finalt['Persons.1'])/rural_finalt['TOT_P']))

In [36]:
tmp = []
for i in range(final_si.shape[0]):
    succ = np.array([urban_finalt.iloc[i,3]-urban_finalt.iloc[i,1] - urban_finalt.iloc[i,2],rural_finalt.iloc[i,3] -rural_finalt.iloc[i,1] - rural_finalt.iloc[i,2]])
    tot_sample = np.array([urban_finalt.iloc[i,3],rural_finalt.iloc[i,3]])
    stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
    tmp.append(p_value)
final_tri['p-value'] = np.array(tmp)

C:\Users\shash\anaconda3\envs\obj_dec\lib\site-packages\statsmodels\stats\proportion.py:859: RuntimeWarning: invalid value encountered in sqrt
  std_diff = np.sqrt(var_)

In [37]:
final_tri[['states', 'urban-percentage', 'rural-percentage', 'p-value']].to_csv("geography-india-1.csv")

In [38]:
# def cal_pvalue(colmt, colms, colft, colfs):
#     pvalue_urban = []
#     for s, s1, a, a1 in zip(colmt, colft, colms, colfs):
#         succ = np.array([a,a1])
#         tot_sample = np.array([s,s1])
#         stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
#         pvalue_urban.append(p_value)
#     return pvalue_urban

In [40]:
# temp = cal_pvalue(final_data['TOT_M_x'],final_data['Males.1_x'], final_data['TOT_F_x'],final_data['Females.1_x'])
# final_data['urban_pvalue'] = np.array(temp)
# temp = cal_pvalue(final_data['TOT_M_y'],final_data['Males.1_y'], final_data['TOT_F_y'],final_data['Females.1_y'])
# final_data['rural_pvalue'] = np.array(temp)

In [ ]:
# final_data.head()