In [89]:
import pandas as pd
import numpy as np

In [90]:
#a = pd.read_excel("C-17/DDW-C17-0{}00.XLSX".format(0), skiprows = [0,1,2,4,5])
#a.head()

In [91]:
data13 = []
for i in range(0,36):
    if i < 10:
        data13.append(pd.read_excel("C-13/DDW-0{}00C-13.XLS".format(i), skiprows = [0,1,2,4,5,6]))
    else:
        data13.append(pd.read_excel("C-13/DDW-{}00C-13.XLS".format(i), skiprows = [0,1,2,4,5]))

In [92]:
data18 = pd.read_excel("DDW-C18-0000.XLSX", skiprows = [0,1,2,4,5])
# data19 = pd.read_excel("C-19/DDW-C17-0000.XLSX", skiprows = [0,1,2,4])

In [93]:
districts = data18['Unnamed: 2'].unique()

In [94]:
data18.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Urban,Unnamed: 4,Persons,Males,Females,Persons.1,Males.1,Females.1
0,0,0,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
1,0,0,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
2,0,0,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
3,0,0,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
4,0,0,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720

In [95]:
districts

array(['INDIA', 'JAMMU & KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB',
       'CHANDIGARH', 'UTTARAKHAND', 'HARYANA', 'NCT OF DELHI',
       'RAJASTHAN', 'UTTAR PRADESH', 'BIHAR', 'SIKKIM',
       'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR', 'MIZORAM', 'TRIPURA',
       'MEGHALAYA', 'ASSAM', 'WEST BENGAL', 'JHARKHAND', 'ODISHA',
       'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT', 'DAMAN & DIU',
       'DADRA & NAGAR HAVELI', 'MAHARASHTRA', 'ANDHRA PRADESH',
       'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA', 'TAMIL NADU',
       'PUDUCHERRY', 'ANDAMAN & NICOBAR ISLANDS'], dtype=object)

In [96]:
def make_dist(datai, district, data18, category = "Persons"):
    #datai = data13[0]
    #print(datai["Unnamed: 3"].unique())
    #print(datai.shape)
    #print(datai["Unnamed: 3"].unique())
    datai = datai[datai["Unnamed: 3"] == district]
    #print(datai.shape)
    dist_age = [1]
    stride = [5,5,5,5,5,20,20,31]
    temp = datai[category].values
    prev = 6
    for i in stride:
        dist_age.append(temp[prev:prev+i].sum())
        #print(prev, prev+i)
        prev = prev+i
    dist_age.append(1)
    data181i = data18[(data18['Unnamed: 2'] == district) ]
    data181i['Total_Pop'] = np.array(dist_age)  
    data181i['Ratio'] = data181i[category+'.1']/data181i['Total_Pop']
    data181i.sort_values('Ratio', inplace = True, ascending = False)
    return data181i.iloc[2,1], data181i.iloc[2,4]

In [97]:
final_dict = {}
final_dict['states'] =[]
final_dict['age-group-males'] = []
final_dict['ratio-males'] = []
datat = data13[0]
data13_new = datat[['Unnamed: 3','Unnamed: 4',"Males"]]
data18_new = data18[(data18['Urban'] == 'Total')]
data18_new = data18_new[['Unnamed: 2','Unnamed: 4','Males.1']]
data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
for district in districts:
    #if district == "INDIA":
    #    continue
    #print(district)
    a, b = make_dist(data13_new,district, data18_new, "Males")
    #print(a, b,district)
    final_dict['states'].append(district)
    final_dict['age-group-males'].append(a)
    final_dict['ratio-males'].append(b)

<ipython-input-97-6d85c8882fc7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
<ipython-input-96-90061680a6f4>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Total_Pop'] = np.array(dist_age)
<ipython-input-96-90061680a6f4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Ratio'] = data181i[category+'.1']/data181i['Total_Pop']
<ipython-input-96-90061680a6f4>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i.sort_values('Ratio', inplace = True, ascending = False)

In [98]:
final_dict_dfm2 = pd.DataFrame(final_dict)
final_dict_dfm2.head(50)

                       states age-group-males  ratio-males
0                       INDIA           20-24     0.122734
1             JAMMU & KASHMIR           20-24     0.317513
2            HIMACHAL PRADESH           20-24     0.083464
3                      PUNJAB           15-19     0.446176
4                  CHANDIGARH             70+     0.538880
5                 UTTARAKHAND           20-24     0.034273
6                     HARYANA           20-24     0.073585
7                NCT OF DELHI             70+     0.203584
8                   RAJASTHAN           20-24     0.032170
9               UTTAR PRADESH           20-24     0.025913
10                      BIHAR           20-24     0.031443
11                     SIKKIM           15-19     0.437026
12          ARUNACHAL PRADESH           15-19     0.480533
13                   NAGALAND           25-29     0.421940
14                    MANIPUR           30-49     0.352224
15                    MIZORAM           30-49     0.101009
16                    TRIPURA           25-29     0.100840
17                  MEGHALAYA           30-49     0.183675
18                      ASSAM           30-49     0.239542
19                WEST BENGAL           50-69     0.060462
20                  JHARKHAND           20-24     0.083440
21                     ODISHA           20-24     0.249141
22               CHHATTISGARH           30-49     0.026553
23             MADHYA PRADESH           20-24     0.031203
24                    GUJARAT           15-19     0.258126
25                DAMAN & DIU           50-69     0.223430
26       DADRA & NAGAR HAVELI           10-14     0.329725
27                MAHARASHTRA           20-24     0.285348
28             ANDHRA PRADESH           20-24     0.143784
29                  KARNATAKA           25-29     0.193887
30                        GOA           15-19     0.662455
31                LAKSHADWEEP           25-29     0.266986
32                     KERALA           20-24     0.167393
33                 TAMIL NADU           25-29     0.048127
34                 PUDUCHERRY           50-69     0.097906
35  ANDAMAN & NICOBAR ISLANDS           15-19     0.277134

In [99]:
#females
final_dict = {}
final_dict['states'] =[]
final_dict['age-group-females'] = []
final_dict['ratio-females'] = []
datat = data13[0]
data13_new = datat[['Unnamed: 3','Unnamed: 4',"Females"]]
data18_new = data18[(data18['Urban'] == 'Total')]
data18_new = data18_new[['Unnamed: 2','Unnamed: 4','Females.1']]
data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
for district in districts:
    #if district == "INDIA":
    #    continue
    #print(district)
    a, b = make_dist(data13_new,district, data18_new, "Females")
    #print(a, b,district)
    final_dict['states'].append(district)
    final_dict['age-group-females'].append(a)
    final_dict['ratio-females'].append(b)

<ipython-input-99-eb3918b038fc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
<ipython-input-96-90061680a6f4>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Total_Pop'] = np.array(dist_age)
<ipython-input-96-90061680a6f4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Ratio'] = data181i[category+'.1']/data181i['Total_Pop']
<ipython-input-96-90061680a6f4>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i.sort_values('Ratio', inplace = True, ascending = False)

In [100]:
final_dict_dff2 = pd.DataFrame(final_dict)
final_dict_dff2.head(50)

                       states age-group-females  ratio-females
0                       INDIA             20-24       0.107109
1             JAMMU & KASHMIR             20-24       0.272289
2            HIMACHAL PRADESH             15-19       0.080732
3                      PUNJAB             15-19       0.472069
4                  CHANDIGARH             15-19       0.424175
5                 UTTARAKHAND             20-24       0.027630
6                     HARYANA             15-19       0.073951
7                NCT OF DELHI             50-69       0.120097
8                   RAJASTHAN             15-19       0.025576
9               UTTAR PRADESH             20-24       0.022732
10                      BIHAR             15-19       0.028679
11                     SIKKIM             15-19       0.479614
12          ARUNACHAL PRADESH             15-19       0.471169
13                   NAGALAND             20-24       0.390252
14                    MANIPUR             20-24       0.291086
15                    MIZORAM             25-29       0.056303
16                    TRIPURA             20-24       0.065508
17                  MEGHALAYA             20-24       0.128277
18                      ASSAM             15-19       0.185952
19                WEST BENGAL             20-24       0.037846
20                  JHARKHAND             15-19       0.069338
21                     ODISHA             15-19       0.210129
22               CHHATTISGARH             20-24       0.020936
23             MADHYA PRADESH             15-19       0.028724
24                    GUJARAT             15-19       0.218742
25                DAMAN & DIU             15-19       0.259195
26       DADRA & NAGAR HAVELI             15-19       0.358171
27                MAHARASHTRA             15-19       0.262631
28             ANDHRA PRADESH             15-19       0.127302
29                  KARNATAKA             20-24       0.166122
30                        GOA             15-19       0.701468
31                LAKSHADWEEP             20-24       0.257070
32                     KERALA             20-24       0.171422
33                 TAMIL NADU             20-24       0.043725
34                 PUDUCHERRY             20-24       0.077331
35  ANDAMAN & NICOBAR ISLANDS             15-19       0.298794

In [101]:
final_data = pd.merge(final_dict_dfm2, final_dict_dff2, how = 'outer', right_on = 'states', left_on = 'states')

In [102]:
final_data.to_csv("age-gender-3.csv")

In [103]:
#c19 ==> eduacation level and speaking lang
#c18 ==>    age group and lang

In [104]:
#bi

In [105]:
def make_dist_bilingual(datai, district, data18, category = "Persons"):
    #datai = data13[0]\
    #print(datai["Unnamed: 3"].unique())
    
    #print(datai.shape)
    #print(datai["Unnamed: 3"].unique())
    datai = datai[datai["Unnamed: 3"] == district]
    #print(datai.shape)
    dist_age = [1]
    stride = [5,5,5,5,5,20,20,31]
    temp = datai[category].values
    prev = 6
    for i in stride:
        dist_age.append(temp[prev:prev+i].sum())
        #print(prev, prev+i)
        prev = prev+i
    dist_age.append(1)
    data181i = data18[(data18['Unnamed: 2'] == district) ]
    data181i['Total_Pop'] = np.array(dist_age)  
    data181i['Ratio'] = (data181i[category] - data181i[category+'.1'])/data181i['Total_Pop']
    data181i.sort_values('Ratio', inplace = True, ascending = False)
    #print(data181i.columns)
    return data181i.iloc[2,1], data181i.iloc[2,5]

In [106]:
final_dict = {}
final_dict['states'] =[]
final_dict['age-group-males'] = []
final_dict['ratio-males'] = []
datat = data13[0]
data13_new = datat[['Unnamed: 3','Unnamed: 4',"Males"]]    # total population
data18_new = data18[(data18['Urban'] == 'Total')]
data18_new = data18_new[['Unnamed: 2','Unnamed: 4','Males.1', 'Males']]

data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
for district in districts:
    #if district == "INDIA":
    #    continue
    #print(district)
    a, b = make_dist_bilingual(data13_new,district, data18_new, "Males")
    #print(a, b,district)
    final_dict['states'].append(district)
    final_dict['age-group-males'].append(a)
    final_dict['ratio-males'].append(b)

<ipython-input-106-4dc3dfca3cb3>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
<ipython-input-105-c4084ff7f8f4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Total_Pop'] = np.array(dist_age)
<ipython-input-105-c4084ff7f8f4>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Ratio'] = (data181i[category] - data181i[category+'.1'])/data181i['Total_Pop']
<ipython-input-105-c4084ff7f8f4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i.sort_values('Ratio', inplace = True, ascending = False)

In [107]:
final_dict_dfm1 = pd.DataFrame(final_dict)
final_dict_dfm1.head()

             states age-group-males  ratio-males
0             INDIA           20-24     0.266027
1   JAMMU & KASHMIR           10-14     0.491022
2  HIMACHAL PRADESH           25-29     0.168465
3            PUNJAB           10-14     0.264767
4        CHANDIGARH           30-49     0.289201

In [108]:
final_dict = {}
final_dict['states'] =[]
final_dict['age-group-females'] = []
final_dict['ratio-females'] = []
datat = data13[0]
data13_new = datat[['Unnamed: 3','Unnamed: 4',"Females"]]    # total population
data18_new = data18[(data18['Urban'] == 'Total')]
data18_new = data18_new[['Unnamed: 2','Unnamed: 4','Females.1', 'Females']]

data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
for district in districts:
    #if district == "INDIA":
    #    continue
    #print(district)
    a, b = make_dist_bilingual(data13_new,district, data18_new, "Females")
    #print(a, b,district)
    final_dict['States'].append(district)
    final_dict['females_age_group_2'].append(a)
    final_dict['females_ratio_of_2'].append(b)

<ipython-input-108-5893ed841f02>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
<ipython-input-105-c4084ff7f8f4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Total_Pop'] = np.array(dist_age)
<ipython-input-105-c4084ff7f8f4>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i['Ratio'] = (data181i[category] - data181i[category+'.1'])/data181i['Total_Pop']
<ipython-input-105-c4084ff7f8f4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data181i.sort_values('Ratio', inplace = True, ascending = False)

KeyError: 'States'

In [ ]:
final_dict_dff1 = pd.DataFrame(final_dict)
final_dict_dff1.head()

In [ ]:
final_data_bi = pd.merge(final_dict_dfm1, final_dict_dff1, how = 'outer', right_on = 'states', left_on = 'states')
final_data_bi.to_csv("age-gender-1.csv")

In [ ]:
def make_dist_lingual(datai, district, data18, category = "Persons"):
    #datai = data13[0]\
    #print(datai["Unnamed: 3"].unique())
    
    #print(datai.shape)
    #print(datai["Unnamed: 3"].unique())
    datai = datai[datai["Unnamed: 3"] == district]
    #print(datai.shape)
    dist_age = [1]
    stride = [5,5,5,5,5,20,20,31]
    temp = datai[category].values
    prev = 6
    for i in stride:
        dist_age.append(temp[prev:prev+i].sum())
        #print(prev, prev+i)
        prev = prev+i
    dist_age.append(1)
    data181i = data18[(data18['Unnamed: 2'] == district) ]
    data181i['Total_Pop'] = np.array(dist_age)  
    data181i['Ratio'] = 1 - ((data181i[category] +data181i[category+'.1'])/data181i['Total_Pop'])
    data181i.sort_values('Ratio', inplace = True, ascending = False)
    #print(data181i.columns)
    return data181i.iloc[2,1], data181i.iloc[2,5]

In [ ]:
final_dict = {}
final_dict['states'] =[]
final_dict['age-group-males'] = []
final_dict['ratio-males'] = []
datat = data13[0]
data13_new = datat[['Unnamed: 3','Unnamed: 4',"Males"]]    # total population
data18_new = data18[(data18['Urban'] == 'Total')]
data18_new = data18_new[['Unnamed: 2','Unnamed: 4','Males.1', 'Males']]

data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
for district in districts:
    #if district == "INDIA":
    #    continue
    #print(district)
    a, b = make_dist_lingual(data13_new,district, data18_new, "Males")
    #print(a, b,district)
    final_dict['states'].append(district)
    final_dict['age-group-males'].append(a)
    final_dict['ratio-males'].append(b)

In [ ]:
final_dict_dfm = pd.DataFrame(final_dict)
final_dict_dfm.head()

In [ ]:
final_dict = {}
final_dict['states'] =[]
final_dict['age-group-females'] = []
final_dict['ratio-females'] = []
datat = data13[0]
data13_new = datat[['Unnamed: 3','Unnamed: 4',"Females"]]    # total population
data18_new = data18[(data18['Urban'] == 'Total')]
data18_new = data18_new[['Unnamed: 2','Unnamed: 4','Females.1', 'Females']]

data13_new["Unnamed: 3"] = data13_new["Unnamed: 3"].apply(lambda x: str(x).upper() if (str(x) == "India") else str(x)[8:].split(" (")[0])
for district in districts:
    #if district == "INDIA":
    #    continue
    #print(district)
    a, b = make_dist_lingual(data13_new,district, data18_new, "Females")
    #print(a, b,district)
    final_dict['states'].append(district)
    final_dict['age-group-females'].append(a)
    final_dict['ratio-females'].append(b)

In [ ]:
final_dict_dff = pd.DataFrame(final_dict)
final_dict_dff.head()

In [ ]:
final_data_si = pd.merge(final_dict_dfm, final_dict_dff, how = 'outer', right_on = 'states', left_on = 'states')

In [ ]:
final_data_si.to_csv("age-gender-1.csv")